.snakeBoardWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  /* border:2px solid red; */
}
.board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 2.5vw);
  grid-template-rows: repeat(10, 2.5vw);
  gap: 1px;
  max-height: 50vh;
}

.cell {
  width: 2.5vw;
  height: 2.5vw;
  background-color: #000;
  border: 1px solid #fff;
}
.cell:hover {
  background-color: rgb(56, 255, 34);
  cursor: pointer;
}

.snake {
  background-color: red;
}

.player {
  background-color: green;
}

.diamond {
  background-color: blue;
}

.gameOver {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}

.score {
  font-size: 18px;
  margin-top: 10px;
}

.buttons {
  text-align: center;
}

.buttons button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
.scoreWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.score {
  width: 100px;
  text-align: center;
  font-size: 30px;
  border: 2px solid #000;
  padding: 15px;
}
.featuresContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gameOver {
  color: red;
  font-size: 40px;
  text-align: center;
  margin: 0;
}
.stopBtn {
  background-color: red;
  color: #fff;
}
.startBtn {
  background-color: green;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .gameOver {
    margin-top: 40px;
  }
  .board {
    grid-template-columns: repeat(20, 3.5vw);
    grid-template-rows: repeat(10, 3.5vw);
  }
  .cell {
    width: 4vw;
    height: 4vw;
  }
}
