.rulesWrapper{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    background-color: #23202086;
}
.rulesContainer{
    width:50%;
    max-height:100%;
    background-color: #fff;
    color:#000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    gap:10px;
}
.rulesSubContainer1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    gap:10px;
}
.disclaimer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.rulesHeading{
    text-align: center;
}
.noteSection{
    font-weight: 900;
}
.closeBtn{
    width:55px;
    position: absolute;
    top:0;
    right:-120px;
    cursor: pointer;
}
@media screen and (max-width:1400px){
    .closeBtn{
        right:-40px;
    }
}